<div data-role="page" data-theme="b" id="evacuee-search" data-title="LGDPM-Android">
  <div data-role="header" data-position="inline">
    <h1>検索条件</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse">
      メニュー
    </a>
  </div>
  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_search %>" id="evacuee-search-form">
      <div data-role="fieldcontain">
        <label for="evacuee-alternate_family_name" class="fieldLabel">姓（かな）</label>
        <input type="text" id="evacuee-alternate_family_name" name="evacuee[alternate_family_name]" maxlength="500" />
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-alternate_given_name" class="fieldLabel">名（かな）</label>
        <input type="text" id="evacuee-alternate_given_name" name="evacuee[alternate_given_name]" maxlength="500" />
      </div>

      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" class="ui-grid-a">
          <legend>開始生年月日</legend> 
          <div class="ui-block-a"><%= select_year_tag :name => "evacuee[date_of_birth_year_from]", :id => "evacuee-date_of_birth_year_from", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">年</h3></div>
          <div class="ui-block-a"><%= select_month_tag :name => "evacuee[date_of_birth_month_from]", :id => "evacuee-date_of_birth_month_from", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">月</h3></div>
          <div class="ui-block-a"><%= select_day_tag :name => "evacuee[date_of_birth_day_from]", :id => "evacuee-date_of_birth_day_from", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">日</h3></div>
        </fieldset>
      </div>

      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" class="ui-grid-a">
          <legend>終了生年月日</legend> 
          <div class="ui-block-a"><%= select_year_tag :name => "evacuee[date_of_birth_year_to]", :id => "evacuee-date_of_birth_year_to", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">年</h3></div>
          <div class="ui-block-a"><%= select_month_tag :name => "evacuee[date_of_birth_month_to]", :id => "evacuee-date_of_birth_month_to", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">月</h3></div>
          <div class="ui-block-a"><%= select_day_tag :name => "evacuee[date_of_birth_day_to]", :id => "evacuee-date_of_birth_day_to", :data_theme => "d" %></div>
          <div class="ui-block-b"><h3 style="width:40px; text-align:right;">日</h3></div>
        </fieldset>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-in_city_flag" class="select">市外区分</label>
        <select name="evacuee[in_city_flag]" id="evacuee-in_city_flag" data-theme="d"> 
          <%= master_options("in_city_flag", :blank => true) %>
        </select> 
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-shelter_name" class="select">避難所</label>
        <%= select_shelter_tag :name => "evacuee[shelter_name]", :id => "evacuee-shelter_name", :data_theme => "d" %>
      </div>

      <div data-role="fieldcontain"> 
        <label for="evacuee-pregnancy" class="select">負傷</label>
        <select name="evacuee[injury_flag]" id="evacuee-injury_flag" data-theme="d"> 
          <%= master_options("injury_flag", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain"> 
        <label for="evacuee-pregnancy" class="select">アレルギー</label>
        <select name="evacuee[allergy_flag]" id="evacuee-allergy_flag" data-theme="d"> 
          <%= master_options("allergy_flag", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain"> 
        <label for="evacuee-pregnancy" class="select">妊婦</label>
        <select name="evacuee[pregnancy]" id="evacuee-pregnancy" data-theme="d"> 
          <%= master_options("pregnancy", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain"> 
        <label for="evacuee-baby" class="select">乳幼児</label>
        <select name="evacuee[baby]" id="evacuee-baby" data-theme="d"> 
          <%= master_options("baby", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-upper_care_level_three" class="select">要介護度３以上</label>
        <select name="evacuee[upper_care_level_three]" id="evacuee-upper_care_level_three" data-theme="d"> 
          <%= master_options("upper_care_level_three", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-elderly_alone" class="select">一人暮らし高齢者</label>
        <select name="evacuee[elderly_alone]" id="evacuee-elderly_alone" data-theme="d"> 
          <%= master_options("elderly_alone", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-elderly_couple" class="select">高齢者世帯</label>
        <select name="evacuee[elderly_couple]" id="evacuee-elderly_couple" data-theme="d"> 
          <%= master_options("elderly_couple", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-bedridden_elderly" class="select">寝たきり高齢者</label>
        <select name="evacuee[bedridden_elderly]" id="evacuee-bedridden_elderly" data-theme="d"> 
          <%= master_options("bedridden_elderly", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-elderly_dementia" class="select">認知症高齢者</label>
        <select name="evacuee[elderly_dementia]" id="evacuee-elderly_dementia" data-theme="d"> 
          <%= master_options("elderly_dementia", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-rehabilitation_certificate" class="select">療育手帳所持者</label>
        <select name="evacuee[rehabilitation_certificate]" id="evacuee-rehabilitation_certificate" data-theme="d"> 
          <%= master_options("rehabilitation_certificate", :blank => true) %>
        </select>
      </div>

      <div data-role="fieldcontain">
        <label for="evacuee-physical_disability_certificate" class="select">身体障害者手帳所持者</label>
        <select name="evacuee[physical_disability_certificate]" id="evacuee-physical_disability_certificate" data-theme="d"> 
          <%= master_options("physical_disability_certificate", :blank => true) %>
        </select>
      </div>

      <button type="button" data-theme="a" data-mini="true" onclick="do_search('<%= url_for :action => :do_search %>')">検　索</button>
    </form>
  </div>
</div>
